body {
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px 20px;
}

table {
    margin: 25px;
    border: 3px double;
}

tr {
    border: double;
    padding: 16px;
}

td {
    border: double;
    padding: 16px;
}

h1 {
    color: blue;
}

.bi-stars {
    size: 30px;
    color: blue;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }